#canvas{
  width:400px;
  height:10000px;
  margin:0 auto;
  position:relative;
}



#counter{
  border:2px solid blue;
  background-color:blue;
  color:white;
  width:200px;
  height:30px;
  top:123px;
  left:90px;
  position:absolute;
  z-index:-1;
  opacity:0.9;
}

h1{  border:2px solid blue;
     background-color:yellow;
     position:absolute;
     width:200px;
     height:70px;
     top:120px;
     left:100px;
     z-index:-2;
     opacity:0.9;
    font-family: 'Poiret One', cursive;
}

h2{  border:2px solid blue;
     background-color:white;
     position:absolute;
     width:200px;
     height:140px;
     top:2700px;
     left:100px;
     z-index:-2;
     opacity:0.9;
    font-family: 'Poiret One', cursive;
    border-radius: 0px 200px 200px 0px;
-moz-border-radius: 0px 200px 200px 0px;
-webkit-border-radius: 0px 200px 200px 0px;
border: 0px solid #000000;
}

h3{  border:2px solid blue;
     background-color:#e7a61a;
     position:absolute;
     width:200px;
     height:100px;
     top:5200px;
     left:100px;
     z-index:-2;
     opacity:0.9;
     font-family: 'Poiret One', cursive;
}

h4{  border:2px solid blue;
     background-color:green;
     position:absolute;
     width:200px;
     height:120px;
     top:7100px;
     left:100px;
     z-index:-2;
     opacity:0.9;
     font-family: 'Poiret One', cursive;
}

p{  border:2px solid blue;
     background-color:white;
     position:absolute;
     width:200px;
     height:120px;
     top:8600px;
     left:100px;
     z-index:-2;
     opacity:0.9;
     font-family: 'Poiret One', cursive;
}


#star{

     position:absolute;
     width:200px;
     height:150px;
     top:6500px;
     left:300px;

     opacity:0.9;}


#icon {width:300px;
  position:absolute;
  top:200px;
  left:50px;
}
